@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: auto;
    width: 100%;
    /* background-color: aqua; */
}

.top_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    padding: 10px 100px;
}

.top_row h1 {
    color: #00A7E1;
}

.top_row img {
    height: 50px;
    width: 50px;
}

/* 
nav {
    background-color: brown;
} */

nav a {
    text-decoration: none;
    color: #A6A6A6;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
    padding: 15px 50px;
}

nav ul li:nth-child(3) a {
    font-size: 30px;
    color: #00A7E1;
}

.content{
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 80px 160px;
}

.calendar_container{
    height: 650px;
    width: 800px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 20px;
    /* margin: 0 auto; */
}

.calendar_top_row{
    /* background-color:red; */
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar_top_row h5{
    font-size: 30px;
}

.calendar_top_row select{
    font-weight: 500;
}

.Calendar{
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    padding: 0px 80px;
    gap: 25px;
}

.Calendar div{
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    border: 1px solid black;
    height: 650px;
    width: 800px;
    /* margin: 0 auto; */
    padding: 30px 20px 0px 20px;
}

.form-container h3{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.form{
    /* border: 1px solid black; */
    padding: 20px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.form input{
    padding: 0 20px;
    width: 100%;
    height: 40px;
}

.form label{
    font-size: 20px;
    font-weight: 500;
}

.form #color-picker{
    padding: 0;
    border: none;
}

.form #submit{
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}